@import "classes-for-extends";
@import "../variables";

@mixin bgDarken($color, $percent: 10%) {
  @extend .transition;
  background: $color;

  @media #{$mouseDevice} {
    &:hover {
      background: darken($color, $percent);
    }
  }
}

@mixin bgLighten($color, $percent: 10%) {
  @extend .transition;
  background: $color;

  @media #{$mouseDevice}{
    &:hover {
      background: lighten($color, $percent);
    }
  }
}

@mixin maskImage($url, $size: contain, $position: center, $repeat: no-repeat) {
  mask-image: $url;
  mask-position: $position;
  mask-size: $size;
  mask-repeat: $repeat;
}

@mixin textOverflow($maxWidth: unset) {
  max-width: $maxWidth;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@mixin useScrollBar($pr: 15px, $scrollWidth: 6px) {
  padding-right: calc($pr - $scrollWidth);
  overscroll-behavior: contain;
  ::-webkit-scrollbar {
    width: $scrollWidth;
  }

  ::-webkit-scrollbar-track {
    background: transparentize(lighten($scrollTrackDefaultColor, 10%), .2);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: darken($scrollTrackDefaultColor, 5%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: darken($scrollTrackDefaultColor, 10%);
  }
}