@import "normalize";
@import "variables";
@import "flex-grid";
@import "variables/mixins";
@import "variables/classes-for-extends";
@import "transitions";
@import "scroll";

* {
  font-family: monospace, sans-serif;
}

.light {
  background: $mainBGColor;
}

@for $i from 1 through 12 {
  .order-#{$i} {
    order: #{$i};
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}