@import "variables/colors";
.scroll-container {
  overscroll-behavior: contain;
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparentize(lighten($scrollTrackDefaultColor, 10%), .2);
    border-radius: 5px;
    margin-left: -5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darken($scrollTrackDefaultColor, 5%);
    //border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken($scrollTrackDefaultColor, 10%);
  }
}